body{
	background:var(--background);
	font-family:var(--font-main);
}
:root{
    --primary:#9d8189;
    --primary-hover:#B49CA3;
    --background:#F9F4EF;
    --surface:#F8F5F3;
    --warning:#C49A5A;
    --warning-surface:#F6EFDF;
    --err:#B86B6B;
    --err-surface: #F5E6E6;
    --info:#7895A5;
    --info-surface:#E7EEF1;
    --success:#7A9E7E;
    --success-surface:#EAF1EA;
    --disabel:#6B7280;
    --text:#3F3438;
    --placeholder:#3F343880;
    --p:#74666B;
    --font-main: Manrope;
    --font-12: 12px;
    --font-14: 14px;
    --font-16: 16px;
    --font-18: 18px;
    --font-24: 24px;
    --font-32:32px;
    --font-display:48px;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;
    --line-tight: 1.2;
    --line-normal: 1.5;
    --line-relaxed: 1.7;
}
.task-list{
	position:absolute;
	top:154px;
	left:300px;
	display:none;
	flex-direction:column;
	gap:16px;
	
}
.task-box{
	display:flex;
	align-items:center;
	justify-content:space-between;
	width: 500px;
	box-shadow: 0px 4px 10px rgba(189, 189, 189, 0.25);
	cursor:pointer;
	border-radius: 8px;
	padding: 16px;
}
.task-box:hover{
	h1{
		color:var(--primary-hover);
	}
	transform:scale(1.01);
}
.about{
	display:flex;
	flex-direction:column;
	gap:8px;
	padding:16px;
}
.about-head{
	display:flex;
	align-items:center;
	gap:8px;
}
.about-head h1{
	font-size:var(--font-24);
	font-weight:var(--weight-bold);
	color:var(--text);
}
.about-head p{
	font-size:var(--font-14);
	font-weight:var(--weight-regular);
	color:var(--placeholder);
}
.prio-state{
	display:flex;
	gap:8px;
}
.prio{
	display:flex;
	align-items:center;
	background:var(--err-surface);
	color:var(--err);
	border-radius:8px;
	gap:8px;
	padding:4px 8px;
}
.prio h2{
	font-size:var(--font-14);
	font-weight:var(--weight-semibold);
}
.prio-circle{
	width: 8px;

}
.state{
	display:flex;
	align-items:center;
	background:var(--warning-surface);
	color:var(--warning);
	border-radius:8px;
	gap:8px;
	padding:4px 8px;
}
.state h2{
	font-size:var(--font-14);
	font-weight:var(--weight-semibold);
}
.state-circle{
	width: 8px;
}
.complete{
	  width: 40px;
	  height: 40px;
	  stroke-width: 2px;
	  stroke: var(--primary);
}
.complete:hover{
	transform:scale(1.1);
	stroke: var(--success);
	
}
